@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
p {
    font-family: 'Courier Prime', monospace;
    word-spacing:-0.2rem;
}

.question3 {
    justify-content: center;
    padding-top: 2rem;
}
.Questions {
    font-family: 'Courier Prime', monospace;
}
