@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.card {
    display: inline-table;
    border: 3px solid rgb(72, 72, 72); 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) ;
    padding: 50px;
    margin: 10px;
    max-width: 20rem;
    transition: 0.2s;
    cursor: pointer;
    height: auto;
    text-transform: capitalize;
    
}

.card .card-image{
    border: 1px solid rgb(33, 33, 33);
    max-width: 80%;
    height: auto;
    border: 50%;
    margin-bottom: auto;
    transition: 0.2s;
    cursor: pointer;
    opacity: 75%;
}
.card .card-title{
    font-family: 'Bebas Neue', monospace;
    margin-top: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 50%;
}

.card .card-target{
    color: #fff;
    background: #c03c3c;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
    position: relative;
    float: inline-start;
    margin-left: 30px;
}
.card .card-target2{
    color: #fff;
    background: #c03c3c;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
    position: relative;
    float: inline-start;
    margin-left: 5px;
}

.card .card-instr{
    position: left;
    text-transform: initial;
    text-align: justify;
    word-spacing: normal;
    opacity: 50%;
    

}

.card .card-instr-title {
    font-weight: 600;
    margin-top: 20px;
    opacity: 50%;
}

.header{
    margin-top: 50px;
}

/*--------------------------------------
START OF CARD HOVER ADJUSTMENTS
--------------------------------------*/
.card:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.25rem 0.5rem 1rem black;
    background-color:rgba(22, 21, 21, 0.922);
}
.card:hover .card-title{
    opacity: 100%;
    color: white;
}
.card:hover .card-image{
    opacity: 100%;
    color: white;
}
.card:hover .card-instr-title{
    opacity: 100%;
    color: white;
}
.card:hover .card-instr{
    opacity: 100%;
    color: white;
}
/*--------------------------------------
END OF CARD HOVER ADJUSTMENTS
--------------------------------------*/